black
dipy
elasticsearch==8.8.2
evaluate
geopandas
keras
matplotlib
numpy
pandas
python-mnist
regex
sacremoses
seaborn
scikit-learn
scipy
spacy
tensorflow
torch
transformers
transformers[torch]
tslearn
